.container {
  position: relative;
  width: 100%;
  height: 800px;
}

.container h2 {
  margin-left: 25%;
}

.container form {
  position: absolute;
  border: solid;
  height: 700px;
  left: 25%;
}

.container form label::after{
    content: "\a";
    white-space: pre;
}

.container form label {
  margin-left: 20px;
  margin-right: 20px;
}

.container form p input {
  margin-left: 20px;
  margin-right: 20px;
  width: 600px;
}

.container form p textarea {
  margin-left: 20px;
  margin-right: 20px;
  width: 600px;
}

.container form button {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 81%;
  bottom: 5%;
}