.container {
  margin-top: 5%;
  margin-left: 25%;
}

.container form label::after{
    content: "\a";
    white-space: pre;
}

.container form {
  position: relative;
}

.container form input {
  width: 500px;
}

.container form button {
  position: absolute;
  margin-top:  -38px;
  margin-left: 510px;
  width: 90px;
}

.container table, th, td {
  border:1px solid black;
  width: 600px;
}

.container table {
  display: inline-block;
}

.container table a {
  float: right;
}
