body {
  width: 1020px;
  height: 500px;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .page {
  color: red;
}

h1 {
  position: absolute;
  left: 45%;
}

.container .btn-1 {
  position: absolute;
  top: 10%;
  left: 45%;
}

.container .btn-2 {
  position: absolute;
  top: 10%;
  left: 65%;
}

.container .posts {
  width: 70%;
  position: absolute;
  top: 20%;
  left: 27%;
}

.container .posts .post {
  width: 694px;
  position: relative;
  border: solid;
  margin: 10px;
}

.date-created {
  position: absolute;
  color: red;
  top: 5%;
  left: 70%;
}
