.container-sign-in {
  position: relative;
}

.container-sign-in h1 {
  margin-left: 40%;
}

.container-sign-in form {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.container-sign-in form label {
  margin: 1px;
}

.container-sign-in form input {
  margin: 5px;
}

.container-sign-in a {
   position: absolute;
   margin-left: 40%;
   margin-top: 1%;
}

.container-sign-up form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}