.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container h2 {
  text-align: center;
}

.container form {
  position: absolute;
  left: 25%;
}

.container form label::after{
    content: "\a";
    white-space: pre;
}

.container form p input {
  width: 600px;
}

.container form p textarea {
  width: 600px;
}

.container form button {
  position: absolute;
  left: 90%;
}