{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'ticket/posts.css' %}">
	<div class="container">
		{% if posts|length == 0 %}
				<p class="message">Vous n'avez pas encore de publications</p>
		{% else %}
			{% for post in posts %}
				{% if post.author == request.user %}
					<div class="post">
						<p class="author">Vous avez publié un post</p>
						<p class="date-created">{{ ticket.time_created }}</p>
						<div class="content">
							<h2>{{ ticket.title }}</h2>
							<p>{{ ticket.content }}</p>
							<img src="{{ post.photo.image.url }}">
						</div>
						<div class="button">
							<a href="{% url 'update-ticket' post.id %}" class="update"><button>Modifier</button></a>
							<a href="{% url 'delete-ticket' post.id %}" class="delete"><button>Supprimer</button></a>
						</div>
					</div>
				{% endif %}
				{% if post.user == request.user %}
					<div class="review">
						<p class="author">Vous avez posté une reveiw</p>
						<p class="time-created">{{ post.time_created }}</p>
						<p class="content">Note : {{ post.rating}}/5<br>{{ post.headline }}<br>{{ post.body }}</p>
						<div class="button">
							<a href="{% url 'delete-review' post.id %}"><button>Supprimer</button></a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}