{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'review/create_review.css' %}">
	<h2 class="page-title">Créer une critique</h2>
	<div class="container">
		<p>Vous êtes en train de poster en réponse à</p>
		<div class="post">
			{% if ticket.author == request.user %}
				<p class="author">Vous avez publié un post</p>
			{% else %}
				<p class="author">{{ ticket.author }} a publié</p>
			{% endif %}
			<p class="date-created">{{ ticket.date_created }}</p>
			<div class="content">
				<h2>{{ ticket.title }}</h2>
				<p>{{ ticket.content }}</p>
				<img src="{{ ticket.photo.image.url }}">
			</div>
		</div>
		<div class="review">
			<form method="post" enctype="multipart/form-data">
				{{ form.as_p }}
				{% csrf_token %}
				<button type="submit">Publier</button>
			</form>
		</div>
	</div>
{% endblock %}