{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/home.css' %}">
	<div class="container">
		<a href="{% url 'create-ticket' %}" class="btn-1"><button>Demander une critique</button></a>
		<a href="{% url 'create-review' %}" class="btn-2"><button>Créer une critique
		</button></a>
		<div class="posts">
			{% for ticket in tickets %}
				<div class="post">
					<h2>{{ ticket.title }}</h2>
					<img src="{{ ticket.photo.image.url }}"><br>
					<p class="date-created">{{ ticket.date_created }}</p>
					<p>{{ ticket.author }}</p>
					<p>{{ ticket.content }}</p>
					{% for review in reviews %}
						{% if review.ticket.id == ticket.id %}
						<p>{{ review.user|upper }} a posté une reveiw<br>
						Rating : {{ review.rating}} <br>
						Time created : {{ review.time_created }}<br>
						Headline : {{ review.headline }}<br>
						Body : {{ review.body }}<br>
						{% endif %}
					{% endfor %}
					<a href="{% url 'review' ticket.id %}"><button>Créer une critique</button></a>
				</div>
			{% endfor %}
		</div>
{% endblock content %}