{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/posts.css' %}">
	<div class="container">
		{% for ticket in tickets %}
			{% if ticket != None %}
				<div class="post">
					{% if ticket.author == request.user %}
						<p class="author">Vous avez publié un post</p>
					{% else %}
						<p class="author">{{ ticket.author }} a publié</p>
					{% endif %}
					<p class="date-created">{{ ticket.date_created }}</p>
					<div class="content">
						<h2>{{ ticket.title }}</h2>
						<p>{{ ticket.content }}</p>
						<img src="{{ ticket.photo.image.url }}">
					</div>
					{% if ticket.author == request.user %}
						<div class="button">
							<a href="{% url 'ticket-update' ticket.id %}" class="update"><button>Modifier</button></a>
							<a href="{% url 'ticket-delete' ticket.id %}" class="delete"><button>Supprimer</button></a>
						</div>
					{% endif %}
				</div>
			{% endif %}
			{% for review in reviews %}
				{% if review.ticket.id == ticket.id %}
					<div class="review">
						{% if review.user == request.user %}
							<p class="author">Vous avez posté une reveiw</p>
						{% else %}
							<p class="author">{{ review.user }} a posté une review</p>
						{% endif %}
						<p class="time-created">{{ review.time_created }}</p>
						<p class="content">Note : {{ review.rating}}/5<br>{{ review.headline }}<br>{{ review.body }}</p>
						{% if review.user == request.user %}
						<div class="button">
							<a href="{% url 'review-delete' review.id %}"><button>Supprimer</button></a>
						</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}