{% extends 'base.html' %}
{% block content %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'application/posts.css' %}">
	<div class="container">
		{% if tickets|length == 0 %}
			<p class="message">Vous n'avez pas encore de publications</p>
		{% else %}
		{% for ticket in tickets %}
			{% if ticket != None %}
				<div class="post">
					{% if ticket.author == request.user %}
						<p class="author">Vous avez publié un post</p>
					{% else %}
						<p class="author">{{ ticket.author }} a publié</p>
					{% endif %}
					<p class="date-created">{{ ticket.date_created }}</p>
					<div class="content">
						<h2>{{ ticket.title }}</h2>
						<p>{{ ticket.content }}</p>
						<img src="{{ ticket.photo.image.url }}">
					</div>
					{% if ticket.author == request.user %}
						<div class="button">
							<a href="{% url 'update-ticket' ticket.id %}" class="update"><button>Modifier</button></a>
							<a href="{% url 'delete-ticket' ticket.id %}" class="delete"><button>Supprimer</button></a>
						</div>
					{% endif %}
				</div>
			{% endif %}
			{% for review in reviews %}
				{% if review.ticket.id == ticket.id %}
						{% if review.user == request.user %}
						<div class="review">
							<p class="author">Vous avez posté une reveiw</p>
							<p class="time-created">{{ review.time_created }}</p>
							<p class="content">Note : {{ review.rating}}/5<br>{{ review.headline }}<br>{{ review.body }}</p>
							<div class="button">
								<a href="{% url 'delete-review' review.id %}"><button>Supprimer</button></a>
							</div>
						</div>
						{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% endif %}
	</div>
{% endblock %}