.container-sign-up {
  position: relative;
}

.container-sign-up h1 {
  margin-left: 40%;
}

.container-sign-up form {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.container-sign-up form label {
  margin: 1px;
}

.container-sign-up form input {
  margin: 5px;
}

.container-sign-up form select {
  margin: 5px;
}